*{
    padding: 0;
    margin: 0;
}

nav, footer, header{display: block;}

body{
    background-color: black;
    background:linear-gradient(to bottom, rgb(152, 152, 252), rgb(117, 171, 247)) repeat-x;
}

img{
    width: 1080px;
    height: 200px;
}

.head{
    display: flex;
    max-width: 100%;
    height: 200px;
    width: 2000px;
}

.menu_left{
    flex-direction: column;
    margin-left:10px;
    display: block;
    width: 130px;
    height: 69px;
    font-size: large;
    border-style: outset;
    border-color: white;
    border-width: 2px;
    background-color:beige;
    box-shadow: 3px 3px 3px black;
    text-align: left;
    padding-right: 20px;
    padding-left: 20px;
}

.shapka{
    width:auto;
    height: 60px;
    background-color:coral;
    font-size: 20px;
    word-spacing: 300px;
    text-align: center;
}

.info{
    display: block;
    padding: 50px;
    width: 180px;
    height: 50px;
    text-align: center;
    margin-left:400px;
    border:1px;
    float:left;
}

#logos{
    width: 70px;
    height: 70px;
}

.container{
    padding-left: 60px;
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.main{
    flex-direction: column !important;
    max-width: 1600px;
    margin: auto;
}

.header{
    flex-direction: row;
}

.title{
    font-size: 4em;
    text-shadow: 2px 2px 0px black;
    cursor: default;
    width: 950px;
    margin-top: 20px;
}

.right{
    display: block;
    padding: 5px;
    text-align: center;
    width: auto;
    font-size: 1.5em;
}

.low{
    flex-direction: row;
    margin-top: 15px;
}

.content{
    margin-top: 10px;
    width: 1000px;
    display: block;
    padding: 0;
    margin-left: 10px;
    border-style: outset;
    border-color:white;
    border-width: 3px;
    background-color:beige;
    box-shadow: 2px 2px 2px black;
    height: 750px;
}

.abz{
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    font-weight: 1000;
}